{% extends "templates/base_page.html" %} {% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span><span
				class="icon-bar"></span><span class="icon-bar"></span><span
				class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Snapfile</a>
		</div>

		<div class="collapse navbar-collapse"
		id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="login-button" href="/">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#myfiles" data-toggle="tab">My
			Files</a>
		</li>
		<li>
			<a href="#sharedwithme" data-toggle="tab">Shared With Me</a>
		</li>
		<li>
			<a href="#myaccount" data-toggle="tab">My Account</a>
		</li>
	</ul>

	<div id="myTabContent" class="tab-content">
		{% include 'templates/my_files.html' %}
		{% include 'templates/shared_files.html' %}
		{% include 'templates/my_account.html' %}
	</div>
</div>

{% include 'templates/modals/add_file.html' %}

{% include 'templates/modals/share_file.html' %}

{% include 'templates/modals/delete_file.html' %}

{% endblock %}