<div class="modal fade" id="delete-file-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">Delete File?</h4>
			</div>
			<div class="modal-body text-center">
				<input id="confirm" type="checkbox">
				<label for="confirm">Delete from shared libraries?</label>
			</div>
			<div class="modal-footer form-group">
				<button class="btn btn-primary" data-dismiss="modal">
					Cancel
				</button>
				<a class="btn btn-danger" href="/files">Delete</a>
			</div>
		</div>
	</div>
</div>